target/
maven-*/
localhost/
apidocs/
bin
.pmd
*.jar
*.class
*.log
clean.txt
tree.txt
versions.txt
site.txt
deploy*.txt
data
log/
logs/
lib
.metadata/
.settings/
.bindings
.classpath
.settings
.project
.apt_generated