<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
   <display-name>customer-info-services</display-name>
   <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:all-beans-spring.xml</param-value>
   </context-param>
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   <servlet>
      <servlet-name>CXFServlet</servlet-name>
      <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>CXFServlet</servlet-name>
      <url-pattern>/*</url-pattern>
   </servlet-mapping>

   <filter>
      <filter-name>HttpLoggingFilter</filter-name>
      <filter-class>com.wdpr.ee.loggingapi.filter.HttpLoggingFilter</filter-class>
           <init-param>
        <param-name>test-param</param-name>
        <param-value>This parameter is for testing.</param-value>
    </init-param>
   </filter>
   <filter-mapping>
      <filter-name>HttpLoggingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

   <filter>
      <filter-name>AuthFilter</filter-name>
      <filter-class>com.wdpr.ee.authz.AuthFilter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>AuthFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>

</web-app>